Body{
	Background-color: #91d1da;
	text-align: center;
	background-position: center;
}

Body{Color: black;
	font-family: "american typewriter", sans-serif;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	}