h3{
	color: black; 
	font-size: 20px;
	}

Body{
	Background-color: #91d1da;
	text-align: center;
	background-position: center;
}

h3{
	font-family: "american typewriter", sans-serif;
	text-align: center;
}

nav a{
	Color: black;
	font-family: "american typewriter", sans-serif;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
}
#banner{
	width:100%;
	Height: 100px;
	Background-color: orange;
	text-align: center;
	
}
#aboutme{
Background-color: #FAF9F6;
width: 50%;
Height: 250 px;
margin-left: auto;
margin-right: auto;
text-align: center;
}
nav ul li{
list-style-type: none;
float: left;
margin: 15px;
}
nav ul li a:hover{
color:#91d1da;
background-color:#FAF9F6}